.slideHeader
{
	
	background: url(../img/headerBG560.gif) no-repeat center center; height: 67px; 
	padding-left: 30px;
	
}

.pageTextRegionOLD
	{
		/*background: white;
  		font-family: sans-serif;
  		color: black;
  		font-size: 1em;
  		font-weight: normal;
  		position: relative;
  		border-radius: 5px;
  		text-align: left;
  		overflow: hidden;
  		#204C7B
  		* 
  		* */
  		-webkit-border-radius: 10px;
  		-moz-border-radius: 10px;
  		
  		display: table;
  		box-shadow: 2px 2px 2px #204C7B;
		
		border: 1px solid white;
		border-radius: 10px;
		width: 540px;
		margin: auto;
		background: url(../img/glass.png) no-repeat center top;;
		background-color: #DEF4FF;
		z-index: 3;
		padding: 5px;
        margin: 5px;
	}
	
.pageTextRegion
	{
		/*background: white;
  		font-family: sans-serif;
  		color: black;
  		font-size: 1em;
  		font-weight: normal;
  		position: relative;
  		border-radius: 5px;
  		text-align: left;
  		overflow: hidden;
  		#204C7B
  		* 
  		*/
  		/*-webkit-border-radius: 10px;
  		-moz-border-radius: 10px;
  		
  		display: table;
  		box-shadow: 2px 2px 2px #204C7B;
		
		border: 1px solid white;
		border-radius: 10px;
		width: 540px;
		margin: auto;
		background: url(../img/glass.png) no-repeat center top;;
		background-color: #DEF4FF;
		z-index: 3;
		padding: 5px;
        margin: 5px;
        position: static;
       -webkit-border-radius: 10px;
  		-moz-border-radius: 10px;
       	
        */
       	vertical-align: middle;
       	border-radius: 10px;
       	border:1px solid #FFFFFF;
  		background: rgba(255,255,255,0.5); /* white color with 50% transparency */
  		box-shadow: 3px 3px 3px #204C7B;
  		padding: 6px;
  		/*padding-left: 10px;
  		padding-right: 10px;*/
  		margin: 5px;
  		width: 550px;
	}
	
.pageTextRegionTable
	{
		display: table;
	}		
	
.textSpan {
	border-radius: 10px;
 font-family: sans-serif;
  vertical-align: middle;
  display: table-cell;
  padding: 5px;
  margin: 5px;
}
.textSpanSmall{
  font-family: sans-serif;
  vertical-align: middle;
  text-align:left;
  display: table-cell;
  padding: 5px;
  margin: 5px;
  font-size:15px;
}
#img {
  vertical-align: middle;
  display: table-cell;
}
.h1{
	/*background: white;
	 border-radius: 10px;
	 opacity: 0;
	  transition: opacity 1s ease-in;
  display: none;
  overflow: hidden;
  height: 0px;
  width: 0px;
  position: absolute;
  text-align: center;
   */
  font-family: sans-serif;
  color: black;
  font-size: 2em;
  font-weight: bold;
  
}